.place__text {
  max-width: 484px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .place__text{
      max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__text{
      max-width: 352px;
  }
}

@media (max-width: 320px) {
  .place__text{
      max-width: 288px;
      margin: 0 auto;
  }
}
