
.cover__title {
  max-width: 560px;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
}

@media (max-width:767px) {
  .cover__title {
      max-width: 350px;
      font-size: 48px;
      line-height: normal;
  }
}

@media (max-width:350px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
