.place {
  display: grid;
  grid-template-columns: 440px 2fr;
  gap: 40px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 900px) {
  .place {
    grid-template-columns: 1fr;
    gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
