.footer__nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .footer__nav-links {
    align-items: flex-start;
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .footer__nav-links {
    flex-direction: column;
}
